------------------------------------------------------------------------------
Welcome to Salt_Kube {{ saltenv |upper }} ENVIRONMENT~~
{% set netiface = salt.caasp_pillar.get('hw:netiface') %}
{%- set this_ip = grains['ip4_interfaces'][netiface][0] %}

ENVIRONMENT:   {{ saltenv |upper }}
Machine ID:    {{ salt['grains.get']('machine_id', 'ERROR') }}
HOSTNAME:      {{ salt['grains.get']('nodename', 'ERROR') }}
IP:            {{ this_ip }}

OS:            {{ grains['osfullname'] }} {{ grains['osrelease'] }} "{{ grains['oscodename']|capitalize }}"
Kernel:        {{ grains['kernelrelease'] }}
Memory:        {{ grains['mem_total'] }} MB
CPU:           {{ grains['num_cpus'] }} x {{ grains['cpu_model'] }}
Salt Version:  {{ grains['saltversion'] }}


Container Runtime: {{ salt['pillar.get']('{}:description'.format(salt.caasp_cri.cri_name()), 'containerd') }}

The Salt Roles of this node are:
{%- for role in salt['grains.get']('roles', []) %}
  - {{role}}
{%- endfor %}

------------------------------------------------------------------------------
